.design {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.design span {
    position: absolute;
    display: block;
}

.design span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--animation-color, #7d927d), transparent);
    animation: animateTop 4s ease-in-out infinite;
}

@keyframes animateTop {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.design span:nth-child(2) {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, var(--animation-color, #7d927d), transparent);
    animation: animateRight 4s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes animateRight {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.design span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, var(--animation-color, #7d927d), transparent);
    animation: animateBottom 4s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes animateBottom {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.design span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, var(--animation-color, #7d927d), transparent);
    animation: animateLeft 4s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes animateLeft {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
